
/** {
  outline: 1px solid red;
}*/

html body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: white; 
  overflow-x: hidden !important;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
}

.head {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
}

.head .jumbotron {
  position: relative;
  height: 610px;
  background-image:url("../img/taal_view.jpg");
  background-attachment: fixed;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.head h1 {
  position: relative;
  top: 45%;
  font-size: 56px;
  font-weight: 700;
  color: white;
  margin: 0;
  padding: 0;
  text-shadow: 4px 3px 4px rgba(0,0,0,0.2);
  width: 100%;
}

.head p {
  position: relative;
  top: 45%;
  font-size: 9px;
  font-style: italic;
  font-weight: 300;
  text-shadow: 4px 3px 4px rgba(0,0,0,0.2);
  color: white;
  letter-spacing: 0.05em;
}

nav {
  position: sticky;
  top: 0;
  padding: 10px 0;
  margin: 0;
  display: inline-block;
  word-spacing: 2.3em;
  background-color: white;
  font-size: 18px;
  box-shadow: 0px 2px 3px 0px hsla(0,0%,0%,0.1); 
  width: 100%;
  text-align: center;
  z-index: 10;
}

nav a {
  color: #1a1a1a;
  text-decoration: none;
}

nav a:hover {
  color: cadetblue;
  text-decoration: underline;
  transition: 0.3s;
}

h3 {
  font-size: 34px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 17px;
}

.container {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.about {
  position: relative;
  padding: 50px 0 50px 0;
  background-color: white ;
}

.col-sm-6 .profile_pic {
 text-align:center;
 padding-bottom: 20px;
}

.about p, dd {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6em;
}

.profile_pic img {
  height: 70%;
  width: 70%;
  box-shadow: 0px 2px 3px 2px hsla(0,0%,0%,0.2);
}

.about a, dt {
  color: #333333;
  font-weight: 400;
}

.about a:hover {
  color: cadetblue;
  text-decoration: underline;
  transition: 0.3s;
}

.about dd {
  padding-bottom: 8px;
}

.works {
  position: relative;
  color: white;
  text-shadow: 4px 3px 4px rgba(0,0,0,0.2);
}

.works .jumbotron {
  background-image:url("../img/taal_crater_dark.jpg");
  background-attachment: fixed;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 50px 0 50px 0;
}

.works .col-sm-4 {
  padding-bottom: 15px;
  text-align: center;
}

.works img {
  height: 100%;
  width: 100%;
  box-shadow: 0px 2px 3px 2px hsla(0,0%,0%,0.2);
}

.works a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: Lato, Helvetica, sans-serif;
}

.works a:hover h4 {
  transition: 0.3s;
  text-decoration: underline;
  transform: scale(0.94,0.94);
}

.works a:hover img {
  opacity: 0.6;
  transition: 0.3s;
  transform: scale(0.99,0.99);

}

.skills {
  position: relative;
  padding: 50px 0 50px 0;
  text-align: center;
  background-color: white;
}

.skills li {
  display: inline-block;
  padding: 0 45px 0 45px;
  font-size: 90px;
}

.skills img {
  height: 120px;
  width: 120px;
}

.skills .icon-html5 {
  color: coral;
}

.skills .icon-css3 {
  color: dodgerblue;
}

.skills .icon-bootstrap {
  color: indigo;
}

.skills .icon-ruby {
  color: firebrick;
}

.skills .icon-ruby-on-rails {
  color: firebrick;
}

.skills .icon-javascript {
  color: gold;
}

.skills .icon-php {
  color: blueviolet;
}

.skills .icon-jquery {
  color: royalblue;
}

.skills .icon-database-alt2 {
  color: cornflowerblue;
}

.contact {
  position: relative;
  color: white;
  text-shadow: 4px 3px 4px rgba(0,0,0,0.2);
}

.contact .jumbotron {
  background-image:url("../img/boat.jpg");
  background-attachment: fixed;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 50px 0 50px 0;
}

form {
  text-align: right;
}

.contact .form-control {
  box-shadow: none;
}

.contact .form-control:focus {
  border: 3px solid cadetblue;
  opacity: 0.6;
}

.contact .textarea {
  height: 180px;
  text-decoration: none;
  outline: none;
}

.contact .text {
  height: 40px;
}

.contact .btn {
  height: 40px;
  width: 50%;
  background-color: cadetblue;
  color: white;
/*  border: 3px solid #333;*/
}

.contact .btn:hover {
  opacity: 0.6;
  color: white;
  transition: 0.3s;
}

.contact ul li {
  list-style-type: none;
}

.contact ul a {
  color: orange;
  font-size: 42px;
  text-decoration: none;
}

.contact ul a:hover {
  text-decoration: none;
  color: orange;
  opacity: 0.6;
  transition: 0.3s;
}

footer {
  padding-top: 200px;
  text-align: center;
  font-size: 15px;
}



/* adjusted some elements for smartphones */
@media (max-width: 768px ) {

  .head h1 {
    font-size: 40px;
  }

  .head p {
    font-size: 7px;
  }

  .bar {
    font-size: 14px;
    word-spacing: 1.6em;
    padding: 7px 0;
  }

  .skills li {
  display: inline-block;
  padding: 0 4px 0 4px;
  font-size: 90px;
  }

  footer {
    font-size: 9px;
  }
}