
/** {
  outline: 1px solid red;
}*/

html body {
  margin: 0;
  padding: 0;
  max-height: 100%;
  max-width: 100%;
  background-color: white; 
  overflow-x: hidden !important;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
}

.head {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

.head .jumbotron {
  position: relative;
  height: 610px;
  background-image:url("../img/taal_view.jpg");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  /*background-repeat: no-repeat;
  background-position: center; */
  /*background-attachment: fixed;*/
}

.jumbotron h1 {
  position: relative;
  top: 180px;
  font-size: 72px;
  font-weight: 400;
  color: white;
  text-shadow: 4px 3px 4px rgba(0,0,0,0.2);
  margin: 0;
  padding: 0;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.3);
}

.head .caption1 {
  margin-left: 265px;
  margin-right: 265px;
}

.head .caption2 {
  margin-left: 200px;
  margin-right: 200px;
  padding:;
}

/*.background_h1 {
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.3);
  border: 0px;
}
*/
.jumbotron p {
  position: relative;
  top: 180px;
  font-size: 15px;
  font-weight: bold !important;
  /*font-style: italic;*/
  font-weight: 300;
  text-shadow: 4px 3px 4px rgba(0,0,0,0.2);
  color: white;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0;
  /*opacity: 0.50;*/
}

nav {
  position: sticky;
  top: 0;
  padding: 10px 0;
  margin: 0;
  display: inline-block;
  word-spacing: 2.3em;
  /*background-color: #1a1a1a;*/
  background-color: white;
  font-size: 18px;
  box-shadow: 0px 2px 3px 0px hsla(0,0%,0%,0.1); 
  width: 100%;
  text-align: center;
  z-index: 10;
}

nav a {
  color: #1a1a1a;
  text-decoration: none;
}

nav a:hover {
  /*ransition: 0.6s;*/
  color: gray;
  text-decoration: underline;
  /*text-shadow: 3px 2px 3px rgba(0,0,0,0.1);*/
}

h3 {
  font-size: 34px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 17px;
}

.container {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.about {
  position: relative;
  padding: 50px 0 50px 0;
  line-height: 20px;
  background-color: white ;
  box-shadow: 0px 2px 3px 0px hsla(0,0%,0%,0.1);
}

.col-sm-6 .profile_pic {
 text-align:center;
 padding-bottom: 20px;
}

.about p, dl {
  font-size: 15px;
}

.profile_pic img {
  height: 70%;
  width: 70%;
  /*border-radius: 4px;*/
  box-shadow: 0px 2px 3px 2px hsla(0,0%,0%,0.2);
}

.about a {
  color: #333333;
  font-weight: bold;
}

.about a:hover {
  color: gray;
  text-decoration: underline;
}

.about dd {
  padding-bottom: 8px;
}

.works {
  position: relative;
  /*padding: 50px 0 50px 0;*/
  box-shadow: 0px 2px 3px 0px hsla(0,0%,0%,0.1);
  margin: 0;
  color: white;
}

.works .jumbotron {
  background-image:url("../img/taal_crater.jpg");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 50px 0 50px 0;
}

.works .container {
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.3);
  /*box-shadow: 0px 2px 3px 2px hsla(0,0%,0%,0.2);*/
  /*border-radius: 4px;*/
}

.works img {
  height: 100%;
  width: 100%;
  /*border-radius: 4px;*/
  box-shadow: 0px 2px 3px 2px hsla(0,0%,0%,0.2);
}

.works a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: Lato, Helvetica, sans-serif;
}

.works a:hover {
  color: gray;
  text-decoration: underline;
  font-family: Lato, Helvetica, sans-serif;
}

.works a:hover img{
  opacity: 0.75;
}

.skills {
  position: relative;
  padding: 50px 0 50px 0;
  text-align: center;
  background-color: white;
}

.skills li {
  display: inline-block;
}

.skills img {
  height: 140px;
  width: 140px;
}

.contact {
  position: relative;
  padding: 50px 0 50px 0;
}

