* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1 {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

li,
p,
span,
a {
  font-size: 1.2rem;
  line-height: 1.3;
  color: #000;
}

ul li {
  list-style: none;
  margin-right: 12px;
}

nav {
  padding: 12px 20px;
  margin-bottom: 30px;
}

nav ul {
  display: flex;
  padding: 8px;
  margin-bottom: 2em;
}

nav ul:nth-child(1) {
  float: left;
}

nav ul:nth-child(2) {
  float: right;
}

nav ul li:nth-child(1) {
  font-weight: bold;
}

nav li a {
  text-decoration: none;
}

nav li a:hover {
  border-bottom: 2px solid #39ace7;
}

nav li i {
  cursor: pointer;
}

section {
  padding: 4em 3em;
  box-sizing: border-box;
  width: 70%;
  margin: 0 auto;
}

.mjh {
  display: flex;
}

.mjh h1 {
  font-size: 2.4em;
  /* color: #39ace7; */
}

.mjh .left {
  width: 25%;
}

.mjh .right {
  width: 75%;
}

.mjh .right .text-wrapper {
  padding-left: 60px;
}

.mjh img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 6px solid #39ace7;
}

.mjh .other-info {
  margin-top: 2em;
  display: flex;
  font-size: 1rem;
}

.mjh .other-info li,
.mjh .other-info a,
.mjh .other-info span {
  font-size: 0.9rem;
  text-decoration: none;
  opacity: 0.8;
}

.mjh .links {
  width: 50%;
}

.mjh .contact {
  width: 50%;
}

.mjh .other-info a:hover {
  border-bottom: 2px solid #39ace7;
  opacity: 1;
}

.works li a {
  text-decoration: none;
  border-bottom: 2px solid #39ace7;
}

.skills ul {
  margin-left: 1em;
}

.skills ul li span {
  border-bottom: 2px solid #39ace7;
}

.skills .skills-wrapper {
  display: flex;
}

.skills .box {
  width: 33%;
}

.works li,
.skills li {
  line-height: 1.8;
}

footer p {
  font-size: 0.9rem;
  text-align: center;
  opacity: 0.8;
}

.dark-theme p,
.dark-theme a,
.dark-theme li,
.dark-theme span,
.dark-theme h2,
.dark-theme h1 {
  color: #fff;
}

.dark-theme {
  background-color: #1e293b;
}

.dark-theme .works li a,
.dark-theme .skills ul li span,
.dark-theme .mjh .other-info a:hover,
.dark-theme nav li a:hover {
  border-bottom: 2px solid #14b8a6;
}

.dark-theme .mjh img {
  border: 6px solid #14b8a6;
}
